body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Inter", "sans-serif";
}

h1 {
    font-size: 3.5em;
}

h1 > span {
    position: relative;
    display: inline-block;
    color: #FF8800;
    height: 1.25em;
    vertical-align: bottom;
    overflow: hidden;
}

h1 > span > span {
    display: block;
    animation: animateWords 5s infinite ease;
}
@keyframes animateWords {
    0% {transform: translateY(0%);}
    20% {transform: translateY(-100%);}
    40% {transform: translateY(-200%);}
    60% {transform: translateY(-300%);}
    80% {transform: translateY(-400%);}
    100% {transform: translateY(-400%);}
}